.header {
  max-width: 1280px;
  margin: 0 auto 0;
  position: relative;
  background-color: #1c1c21;
  width: 1920px;
}

.logo {
  position: absolute;
  left: 495px;
  top: 20px;
}

.items {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}

.item {
  display: flex;
}

.item:last-of-type {
  margin-left: auto;
}

.link {
  text-decoration: none;
  color: var(--primary-color);
  display: flex;
  justify-items: center;
}