.header {
  display: flex;
  background-color: #1C1C21;
  max-height: 88px;
  min-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.header_items {
  display: grid; 
  padding: 0;
  max-height: 56px;
  min-width: 1280px;
  list-style-type: none;
  grid-template-columns: min-content min-content auto min-content;
  grid-template-rows: 1fr;
  grid-column-gap: 8px;
}

.header_item {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid rgb(76, 104, 208);
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.text_item{
  margin: 0 0 0 8px
}

.logo_item {
  margin:auto;
}

.logo {
  margin-top: 4px;
}